@charset "UTF-8";
/* CSS Document */

img {
	width: 400px;
	padding: 2%;
}

p {
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}

h1 {
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 30px;
	color: #A41742;
}

h2 {
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 20px;
	color: #A41742;
}

blockquote {
	padding: 0.5rem 2%;
}

blockquote p {
		font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;

}

